body {
    font-size: 16px;
    font-family: "DM Sans";
    margin:20px;
    background-color: rgb(252, 237, 210);
    color:rgb(65, 9, 9);
}
  
.balance {
    background-color: rgb(250, 134, 134);
    border-radius: 10px;
    padding: 0 20px;
    margin:10px;
    color:white;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.shapes {
    display: flex;
    flex-direction: row;
}
  
.white-circle {
    border-radius: 50%;
    border: solid 2px white;
    height:44px;
    width:44px;
    position: relative;
    right: -20px;
}
  
.brown-circle {
    border-radius: 50%;
    background-color: rgb(65, 9, 9);
    height:50px;
    width:50px;
}
  
.chart {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin:10px;
}
  
.chart h2 {
    text-align: center;
}
  
.bar-chart {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color:gray;
    height:140px;
    align-items: flex-end;
}
  
.bar-chart div {
    width: 40px;
}

.bar-chart div p {
    text-align: center;
}

label {
    background-color: rgb(65, 9, 9);
    color: white;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
}
  
.metrics {
    display: flex;
    justify-content: space-between;
       border-top: 2px solid gray;
}
  
#column-mon, 
#column-tue,
#column-wed, 
#column-thu, 
#column-fri, 
#column-sat, 
#column-sun {
    background-color:rgb(250, 134, 134);
    width:25px;
    align-self: center;
}
  
.bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
    
span {
    font-size: 20px;
    line-height: 30px; 
    font-weight:700;
}
  
.percentage {
    text-align: right;
}
  
footer {
    margin:20px;
    text-align: center;
}
  
    @media screen and (min-width: 375px) {
        body {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .container {
          width:330px;
        }
      }
      @media screen and (min-width: 1440px) {
        .container {
            width: 30%;
        }
      }